#logout {
    float: right;
    margin-right: 16px;
}

#user {
    float: right;
    background-color: rgba(0,0,0,0);
}

.ant-menu-item-selected #user {
}

.ant-menu-dark {
    background: #ff4d4f;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: #cf1322;
}