.ant-card-meta-title {
    font-size: 30px;
}

.ant-card-meta-description {
    font-size: 20px;
}

.ant-card-actions {
    max-height: 50px;
}

.ant-card-actions span{
    width: 100%;
}

span i {
    width: 100%;
}

button i {
    width:auto;
}

.user-edit-btn {
    border: none;
    box-shadow: none;
}

.user-love-box{
    margin-left: 15px;
    margin-right: 10px;
}

/*.ant-card-body {*/
    /*height: calc(100vh - 550px);*/
    /*min-height: 250px;*/
/*}*/



